*{
    margin: 0px;
    box-sizing: border-box;
}

div{
    display: flex;
}

section{
    display: flex;

    color: rgb(3, 3, 40);
}

.s1-season{
    height: auto;
    width: auto;

    background-image: url(../images/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;

    flex-direction: column;
}

.cabecalho{
    background-color: rgba(0, 0, 0, 0.205);

    height: 8vh;
    width: 100vw;

    justify-content: space-between;
    position: fixed;
}

.imghbo{
    background-image: url(../images/hbologo.svg);
    background-repeat: no-repeat;
    background-size: 25vh;
    background-position: 50%;

    height: auto;
    width: 15vw;
}

.s1-interativos{
    height: auto;
    width: 20vw;

    justify-content: space-evenly;
    align-items: center;
}

.s1-interativos > button{
    display: flex;

    height: 6vh;
    width: 12vw;
    
    border-radius: 100px;
    font-size: 13px;
    font-family: 'fonte4';
    letter-spacing: 3px;

    justify-content: center;
    align-items: center;

    border: none;

    color: white;
    background-color: rgb(181, 53, 246);

    transition: 1s;
}

.s1-interativos > button:hover{
    background-color: white;
}

.s1-interativos > a{
    text-decoration: none;
    letter-spacing: 3px;

    font-size: 11px;
    font-family: 'fonte4';

    color: white;
    transition: 0.5s;
}

.s1-interativos > button > a:hover{
    color: black;
    transition: 1s; 
}

.s1-interativos > button > a{
    letter-spacing: 3px;

    color: white;
    font-family: 'fonte4';

    text-decoration: none;
}

.s1-hp{
    height: 110vh;
    width: 40vw;
    
    justify-content: end;
    flex-direction: column;
}

.imghp{
    background-image: url(../images/hp.png);
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: 60%;

    height: 50vh;
    width: auto;
}

.s1-faixa{
    background: rgb(104, 0, 223);
    background: linear-gradient(90deg, rgb(102, 0, 219) 0%, rgb(173, 0, 253) 35%, rgb(145, 0, 137) 100%);

    height: 5vh;
    width: 25vw;

    justify-content: end;
    align-items: center;
}

.s1-faixa > h1{
    font-size: 16px;
    font-family: 'fonte1';

    color: white;
    margin-right: 2vw;

    letter-spacing: 3px;
}

.s1-titulos{    
    height: auto;
    width: 32vw;

    color: #D0B36A;

    align-items: end;
    margin-top: 20px;

    flex-direction: column;
}

.reuniao{    
    height: auto;
    width: 25vw;
}

.reuniao > p{
    font-size: 15px;
    font-family: 'fonte4';

    letter-spacing: 3px;
}

.eco{
    height: 15vh;
    width: 25vw;

    margin-top: 24px;

    justify-content: space-evenly;
    flex-direction: column;
}

.eco > h1{
    font-family: 'fonte2';
    font-size: 30px;
}

.eco > p{
    font-family: 'fonte2';
    font-size: 25px;
}

.s1-btn{
    height: auto;
    width: 25vw;

    flex-direction: column;
}

.s1-btn > button{
    background: linear-gradient(-45deg, rgb(102, 0, 219) 0%, rgb(173, 0, 253) 35%, rgb(145, 0, 137) 100%);

    letter-spacing: 3px;
    font-family: 'fonte4';

    color: white;

    height: 7vh;
    width: 15vw;

    border-radius: 100px;
    border: none;

    transition: 0.2s;
}

.s1-btn > button:hover{
    background: linear-gradient(-45deg, rgb(3, 3, 40) 0%, rgb(5, 5, 65) 35%, rgb(9, 9, 116) 100%);
    background-position: 50% ;
    border: 4px solid rgb(173, 0, 253);
}

.s2-season{
    height: auto;
    width: auto;

    background-color: #030328;

    flex-direction: column;
    align-items: center;
}

.s2-titulos{
    flex-direction: column;

    align-items: center;
}

.s2-titulos > p1{
    letter-spacing: 5px;
    color: #D0B36A;

    height: 15vh;
    font-family: 'fonte2';
    font-size: 24px;

    margin-top: 10vh
}

.s2-titulos > p{
    color: white;

    font-family: 'fonte1';
    font-size: 15px;

    width: 55vw;
    line-height: 30px;

    margin-bottom: 10vh;
    text-align: center;
}

.s3-season{
    height: auto;
    width: auto;

    background-color: #030328;

    flex-direction: column;
    align-items: center;
}

.S-barrinha{
    height: 15vh;
    width: 3px;

    background-image: linear-gradient( to left, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1) );}

.s3-titulo > h1{
    letter-spacing: 5px;
    color: #D0B36A;

    height: 5vh;
    font-family: 'fonte6';
    font-size: 20px;

    margin-top: 5vh
}

.s3-imagens{
    height: auto;
    width: 76vw;

    justify-content: space-between;
}

.s3-imagens > div{
    height: 81vh;
    width: 25vw;

    margin-bottom: 10vh;
}

.s3-img1{
    flex-direction: column;
    justify-content: end;
     
    height: 50vh;
    width: auto;

    background-image: url(../images/daniel.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 49vh;
}

.s3-nomes{
    height: auto;
    width: auto;

    flex-direction: column;
    align-items: center;
}

.s3-nomes > p{
    color: #D0B36A;

    font-family: 'fonte2';
    font-size: 20px;
    letter-spacing: 6px;
}

.s3-nomes > p1{
    color: white;

    font-family: 'fonte2';
    font-size: 20px;
    letter-spacing: 6px;
}

.s3-img2{
    justify-content: end;
    flex-direction: column;

    height: 50vh;
    width: auto;

    background-image: url(../images/emma.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 49vh;
}

.s3-img3{
    justify-content: end;
    flex-direction: column;

    height: 50vh;
    width: auto;

    background-image: url(../images/Rupert.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 49vh;
}

.s4-season{
    height: auto;
    width: auto;

    flex-direction: column;
    align-items: center;

    background-color: #030328;
}

.s4-titulo{
    height: 20vh;
    width: auto;
}

.s4-titulo > p{
    color: #D0B36A;

    letter-spacing: 5px;
    color: #D0B36A;

    height: 5vh;
    font-family: 'fonte6';
    font-size: 20px;

    margin-top: 5vh
}

.s4-container1{
    height: 100vh;
    width: 85vw;
}

.s4-imagens-container{
    height: auto;
    width: 90vw;

    justify-content: space-between;
}

.s4-filme1{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;
} 

.s4-subtituloF{
    text-align: center;
    color: white;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 1px;
}

.s4-filme2{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme2{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme2 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s4-filme3{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp3.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme3{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme3 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s4-filme4{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp4.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme4{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme4 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s4-container2{
    height: 100vh;
    width: 85vw;
}

.s4-filme5{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp5.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme5{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme5 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s4-filme6{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp6.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme6{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme6 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s4-filme7_01{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp7_01.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme7_01{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme7_01 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s4-filme7_02{
    height: 90vh;
    width: 20vw;

    background-image: url(../images/hp7_02.jpg);
    background-repeat: no-repeat;
    background-position: 50% 8%;
    background-size: 100%;

    flex-direction: column;
    justify-content: end;
}

.s4-nome-filme7_02{
    height: 22vh;
    width: auto;

    flex-direction: column;
    justify-content: space-between;
}

.s4-nome-filme7_02 > .s4-tituloF{
    text-align: center;
    color: #D0B36A;

    font-size: 15px;
    font-family: 'fonte1';

    letter-spacing: 6px;

    margin-bottom: 3vh;
} 

.s5-season{
    height: 100vh;
    width: auto;

    background-color: #030328;
    flex-direction: column;

    align-items: center;
}

.s5-titulo{
    height: 20vh;
    width: auto;

    align-items: start;
}

.s5-titulo > h1{
    letter-spacing: 5px;
    color: #D0B36A;

    height: 10vh;
    font-family: 'fonte6';
    font-size: 20px;

    margin-top: 5vh
}

.s5-imagens{
    height: auto;
    width: auto;

    justify-content: center;
}

.s5-img1{
    height: 60vh;
    width: 40vw;

    background-image: url(../images/img_04.jpg);
    background-position: 210% 1%;
    background-repeat: no-repeat;
    background-size: 60vw 60vh;

    right: 25%;

    position: relative;
}

.s5-img2{
    height: 60vh;
    width: 20vw;

    background-image: url(../images/img_02.jpg);
    background-position: 1% 60%;
    background-repeat: no-repeat;
    background-size: 60vw 60vh;

    left: 25%;

    position: relative;
}

.s5-img3{
    height: 60vh;
    width: 57vw;

    background-image: url(../images/img_03.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: absolute;

    right: 21%;

    justify-content: center;
}

.s5-img4{
    height: 60vh;
    width: 40vw;

    background-image: url(../images/img-01-spa.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    position: absolute;

    bottom: 10%;
}

.s6-season{
    height: auto;
    width: auto;

    background-color: #030328;

    align-items: center;
    flex-direction: column;
}

.s6-season > .S-barrinha{
    height: 15vh;
}

.s6-titulo{
    height: 20vh;
    width: 90vw;

    justify-content: center;
}

.s6-titulo > h1{
    letter-spacing: 6px;
    color: #D0B36A;

    height: 10vh;
    font-family: 'fonte6';
    font-size: 20px;

    margin-top: 5vh;
}

.s6-containers{
    height: auto;
    width: auto;

    flex-direction: column;
}

.s6-container{
    height: 30vh;
    width: 85vw;

    justify-content: space-between;

    flex-direction: row;
}

.s6-container2{
    height: 30vh;
    width: 85vw;
    margin-bottom: 10vh;

    justify-content: space-between;

    flex-direction: row;
}

.s6-img1{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img1.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(0, 0, 112);
}

.s6-img2{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img2.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(76, 0, 112);
}

.s6-img3{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img3.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(0, 0, 112);
}

.s6-img4{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img4.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(0, 0, 112);
}

.s6-img5{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img5.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(76, 0, 112);
}

.s6-img6{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img6.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(0, 0, 112);
}

.s6-img7{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img7.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(76, 0, 112);
}

.s6-img8{
    height: 23.5vh;
    width: 20vw;

    background-image: url(../images/s6img8.png);
    background-repeat: no-repeat;
    background-size: 100%;

    box-shadow: 5px 5px 90px 20px rgb(76, 0, 112);
}

.s7-season{
    background-color: #030328;

    height: auto;
    width: auto;
    justify-content: center;
}

.s7-img{
    height: 40vh;
    width: 80vw;

    background-image: url(../images/s7fundo.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

    align-items: center;
}

.s7-conteudo{
    height: 25vh;
    width: 20vw;

    margin-left: 5vw;
    margin-bottom: 2vh;

    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}

.s7-titulo{
    height: 18vh;
    width: 18vw;

    justify-content: space-between;
    flex-direction: column;
}

.s7-titulo > h1{
    color: #D0B36A;

    font-family: "fonte1";
    font-size: 20px;
}

.s7-titulo > p{
    color: white;
    
    font-family: "fonte6";
    font-size: 17px;

    line-height: 4vh;
}

.s7-button{
    height: auto;
    width: 21vw;

    justify-content: center;
}

.s7-button > button{
    background: rgb(104, 0, 223);
    background: linear-gradient(-45deg, rgb(66, 0, 219) 0%, rgb(67, 0, 253)35%, rgb(145, 0, 137) 100%);

    letter-spacing: 3px;
    color: white;
    font-family: 'fonte4';

    height: 6vh;
    width: 13vw;

    border-radius: 100px;
    border: none;

    transition: 0.2s;
}

.s7-button > button:hover{
    background: linear-gradient(-45deg, rgb(3, 3, 40) 0%, rgb(5, 5, 65) 35%, rgb(9, 9, 116) 100%);
    background-position: 50% ;
    border: 4px solid rgb(173, 0, 253);
}

.s8-season{
    height: 40vh;
    width: auto;

    background-color: #030328;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s8-buttons{
    height: auto;
    width: 60vw;

    justify-content: space-between;
}

.s8-buttons > button{
    border: none;
    border-radius: 100px;

    height: 7vh;

    letter-spacing: 2px;
    font-family: "fonte4";

    color: #9e86ff;

    background-color: transparent;
}

.s8-buttons > button:hover{
    border: 3px solid rgba(0, 123, 255, 0.329);
    transition: 0.2s;   
    
    text-decoration: underline;
}

#s8-b1{
    width: 15vw;
}

#s8-b2{
    width: 10vw;
}

#s8-b3{
    width: 16vw;
}

#s8-b4{
    width: 8vw;
}

#s8-b5{
    width: 8vw;
}

.s8-termos{
    height: 3vh;
    width: 54vw;

    align-items: end;
    justify-content: space-between;
}

.s8-termos > a{
    color: #9e86ff;

    font-size: 13px;
    font-family: "fonte7";

    text-decoration: none;
}

.s8-termos > a:hover{
    color: white;
}

.s8-copyright{
    height: 5vh;
    width: 60vw;

    justify-content: center;
    align-items: end;
}

.s8-copyright > p{
    color: #9e86ff;

    font-size: 13px;
    font-family: "fonte7";
}

.s8-imagens{
    height: 15vh;
    width: 15vw;

    align-items: end;
    justify-content: space-between;
}

.s8-imagens > div > a{
    color: transparent;
    font-size: 40px;
}

.s8-imagens > div{
    align-items: center;
}

.facebook{
    height: 5vh;
    width: 2vw;

    background-image: url(../images/fb_s8.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
}

.twitter{
    height: 5vh;
    width: 2vw;

    background-image: url(../images/twt_0.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}

.instagram{
    height: 5vh;
    width: 2vw;

    background-image: url(../images/instagram_0.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}

.youtube{
    height: 5vh;
    width: 2vw;

    background-image: url(../images/youtube_0.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 50%;
}

@media (min-width: 1200px) {
    .s1-season{
        width: 100%;
    }
}